/*Media query*/


@media only screen and (max-width: 1024px) {
  .container {
    width: 50rem;
    margin: 0 auto;
  }

  .header-section {
    position: relative;
  }

  .header-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 50%;
    background: #fff;
    transition: 0.5s all;
  }

  .menu-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    z-index: 99;
  }

  .menu-item {
    padding: 1rem 0;
  }

  .mobile-menu {
    display: block;
    z-index: 999;
  }

  .mobile-menu .exit-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .section-title {
    width: 100%;
    font-size: 2.1rem;
  }

  .section-text {
    font-size: 1rem;
  }

  .our-mission__info {
    margin-left: 2rem;
  }

  .our-mission__info p {
    width: 100%;
  }

  .section-line {
    width: 50rem;
  }

  .project-items {
    width: 50rem;
  }

  .project-item {
    width: 15rem;
  }

  .project-text {
    width: 15rem;
    font-size: 0.8rem;
  }

  .testimonial-logo {
    width: 42rem;
  }

  .testimonial-card {
    width: 50rem;
  }

  .testimonial-card__info {
    width: 30.5rem;
    height: 22rem;
  }

  .test-title {
    font-size: 2.2rem;
  }

  .test-text {
    font-size: 0.9rem;
  }

  .testimonial-card__text {
    width: 30rem;
  }

  .testimonial-card__text p {
    font-size: 0.9rem;
  }
}



@media only screen and (max-width: 768px) {
  .container {
    width: 50rem;
    margin: 0 auto;
    margin-left: 150px;
  }
}



@media only screen and (max-width: 500px) {

  .container{
    width: 30rem;
  }

  .section-title{
    font-size: 1.5rem;
  }

  .section-text {
    font-size: 0.6rem;
  }

  .main-section {
    margin-top: 0.5vh
  }

  .section-info{
    width: 100%;
    justify-content: center;
    height: 20rem;
  }

  .section-image {
    display: none;
  }

  .howworks-section {
    margin-top: 3rem;
  }

  .section-image__image {
    display: none;
  }

  .section-image__info1 {
    width: 100%;
  }

  .our-mission {
    margin-top: 2rem;
  }

  .our-mission__image {
    display: none;
  }

  .our-mission__info h3 {
    font-size: 1.5rem;
  }

  .our-mission__info p {
    margin-top: 1rem;
  }

  .our-project {
    margin-top: 2rem;
  }

  .section-line {
    width: 30rem;
    margin: 1.5rem auto
  }

  .project-items {
    width: 30rem;
    flex-direction: column;
    align-items: center;
  }

  .project-item {
    width: 25rem;
  }

  .project-text {
    width: 25rem;
  }

  .project-image1, .project-image2{
    display: none;
  }

  .testimonial {
    margin-top: 2rem;
  }

  .testimonial-logo {
    width: 30rem;
  }

  .testimonial-card__image{
    display: none;
  }

  .testimonial-card {
    width: 30rem;
    height: 25rem;
    margin-top: 2rem;
  }

  .contact {
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .contact-text {
    width: 9rem;
}