/*Media query*/

@media only screen and (max-width: 1024px) {
  .container {
    width: 50rem;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .header-section {
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }

  .header-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transition: 0.5s all;
  }

  .menu-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    z-index: 99;
  }

  .menu-item {
    padding: 1rem 0;
  }

  .mobile-menu {
    display: block;
    z-index: 999;
  }

  .mobile-menu .exit-btn {
    position: absolute;
    right: 0;
    top: 1.5rem;
  }

  .header-button {
    height: 2.7rem;
    font-size: 18px;
    line-height: 2.7rem;
    cursor: pointer;
    margin-right: 20px;
  }

  .section-title {
    width: 100%;
    font-size: 2.1rem;
  }

  .section-text {
    font-size: 1rem;
  }

  .section-button {
    width: 8rem;
    height: 2.5rem;
    font-size: 0.8rem;
    line-height: 2.5rem;
  }

  .our-mission__info {
    margin-left: 2rem;
  }

  .our-mission__info p {
    width: 100%;
  }

  .section-line {
    width: 50rem;
  }

  .project-items {
    width: 50rem;
  }

  .project-item {
    width: 15rem;
  }

  .project-text {
    width: 15rem;
    font-size: 0.8rem;
  }

  .testimonial-logo {
    width: 42rem;
  }

  .testimonial-card {
    width: 50rem;
  }

  .testimonial-card__info {
    width: 30.5rem;
    height: 22rem;
  }

  .test-title {
    font-size: 2.2rem;
  }

  .test-text {
    font-size: 0.9rem;
  }

  .testimonial-card__text {
    width: 30rem;
  }

  .testimonial-card__text p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 45rem;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .contact {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }

  .contact .contact-text {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .contact .content-border{
    width: 100%;
    border: 1px solid #486958;
    padding: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 20rem;
    left: 0;
    overflow-x: hidden;
  }

  .menu-btn img {
    width: 80%;
  }

  .header-button {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
    line-height: 2rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-text {
    font-size: 0.6rem;
  }

  .main-section {
    margin-top: 0.5vh;
  }

  .section-info {
    width: 100%;
    justify-content: center;
    height: 20rem;
  }

  .section-image {
    display: none;
  }

  .howworks-section {
    margin-top: 3rem;
  }

  .section-image__image {
    display: none;
  }

  .section-image__info1 {
    width: 100%;
  }

  .our-mission {
    margin-top: 2rem;
  }

  .our-mission__image {
    display: none;
  }

  .our-mission__info h3 {
    font-size: 1.5rem;
  }

  .our-mission__info p {
    margin-top: 1rem;
  }

  .our-project {
    margin-top: 2rem;
  }

  .section-line {
    display: none;
  }

  .project-items {
    width: 30rem;
    flex-direction: column;
    align-items: center;
  }

  .project-item {
    width: 25rem;
  }

  .project-text {
    width: 25rem;
  }

  .project-image1,
  .project-image2 {
    display: none;
  }

  .testimonial {
    margin-top: 2rem;
  }

  .testimonial-logo {
    width: 20rem;
  }

  .testimonial-card__image {
    display: none;
  }

  .testimonial-card {
    width: 25rem;
    height: 20rem;
    margin-top: 2rem;
  }

  .testimonial-card__text {
    padding: 0;
  }

  .testimonial-card__text p {
    width: 20rem;
    margin-top: 1rem;
  }

  .testimonial-card__info {
    width: 25rem;
    height: 20rem;
  }

  .testimonial-card__number {
    justify-content: flex-start;
    padding: 0;
  }

  .project-done {
    width: 5rem;
    margin-left: 1rem;
  }

  .test-title {
    font-size: 2rem;
    font-weight: 900;
    color: #58a9a5;
  }

  .test-text {
    color: #58a9a5;
    font-size: 1rem;
    font-weight: 600;
  }

  .contact {
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-text {
    width: 10rem;
    height: 10rem;
  }

  .content-border {
    width: 18rem;
  }

  .section-line__1 {
    display: none;
  }

  .contact-button {
    width: 8rem;
    height: 2.5rem;
    font-size: 0.8rem;
    line-height: 2.5rem;
  }
}
