@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 90%;
    margin: 0 auto;
}


/* Header section */
.header-section{
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 82, 82);
}

.header-menu__button{
    display: flex;
    align-items: center;
}

.menu-items{
    list-style: none;
    display: flex;
}

.menu-item{
    padding: 1.25rem;
}

.menu-item a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.menu-item a:active{
    border-bottom: 2px solid yellow;
    color: #58a9a5;
}

.menu-item a:hover{
    color: #58a9a5;
}

.header-button{
    margin-left: 3rem;
    width: 10rem;
    height: 3rem;
    background-color: #58a9a5;
    text-align: center;
    line-height: 3rem;
    border-radius: 0.62rem;
}

.header-button a{
    text-decoration: none;
    color: white;
}


/* Main section*/
.main-section{
    margin-top: 10rem;
    display: flex;
    align-items: center;
}

.section-info{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-title{
    font-size: 60px;
}

.section-text{
    color: #494949;
    width: 85%;
}

.section-button{
    text-decoration: none;
    width: 10rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background-color: #58a9a5;
    color: white;
    font-weight: 600;
    border-radius: 1rem 1rem 1rem 0;
}

.section-image{
    width: 50%;
}

.section-image img{
    width: 100%;
}



/* Margin in px */
.m-10{
    margin: 0.62rem;
}

.ml-10

/* Text or font */
.text-center{
    text-align: center;
}